body {
    background-color: #454545;
}

nav {
    background-color: #606060 !important;
}

.slot_area {
    cursor: pointer;
    width: 8%;
    margin-left: 46%;
    margin-top: 1%;
    padding: 0 !important;
}

.equipment_slot {
    text-align: center;
    padding: 5% !important;
}

.equipment_slot_item {
    width: 22%;
}

.slot_chooser {
    text-align: center;
    padding: 5% !important;
}

.compute_btn {
    width: 8%;
    margin-left: 46%;
    margin-top: 1%;
}

.table_subli {
    width: 30%;
    margin-left: 35%;
    margin-top: 1%;
}

.permutation_area {
    height: 2rem;
}

.permutation_body {
    height: 75%;
    padding: 0% 0% 2% 0%;
}

.permutation_slot_item {
    width: 10%;
    background-color: aliceblue;
}

.permutation_slot_item_left {
    width: 10%;
    background-color: aliceblue;
    border-radius: 5% 0 0 5%;
}

.permutation_slot_item_center {
    width: 10%;
    background-color: aliceblue;
    border-radius: 0 0 0 0;
}

.permutation_slot_item_right {
    width: 10%;
    background-color: aliceblue;
    border-radius: 0 5% 5% 0;
}